*.mlappinstall
nohup.out
*.tgz
*.zip
*.log
*.prj
*.swp

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~
.DS_Store

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

